/* Star Box */
.d-flex {
    display: flex;
}
.ai-centre {
    align-items: center;
}
.hidden {
    overflow: hidden;
}
/* End Box */
/* Star Padding + Margin */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
/* End Padding + Margin */
/* Star Color */
.bg-white {
    background-color: white;
}
.c-black {
    color: black;
}
.c-grey {
    color: #888;
}
/* End Color */
/* Star Position */
.p-relative {
    position: relative;
}
/* Star Position */
/* Star Font */
.t-c {
    text-align: center;
}
.fs-14 {
    font-size: 14px;
}
/* End Font */
/* Star Border */
.br-3c {
    border: 1px solid #ccc;
}
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
/* End Border */
@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}
/* Star Width + Height */
.w-full {
    width: 100%;
}
/* End Width + Height */
/* Star Component */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* End Component */