:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* Star Box */
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.ai-centre {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
@media (max-width: 767px) {
    .block-mobile {
        display: block;
    }

    .none-mobile {
        display: none;
    }
}

/* End Box */
/* Star Padding + Margin */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.m-0 {
    margin: 0;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mr-20 {
    margin-right: 20px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.ml-20 {
    margin-left: 20px;
}
/* End Padding + Margin */
/* Star Color */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.c-white {
    color: white;
}
.c-black {
    color: black;
}
.c-grey {
    color: var(--grey-color);
}
/* End Color */
/* Star Position */
.p-relative {
    position: relative;
}
/* Star Position */
/* Star Font */
.t-c {
    text-align: center;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}

@media (max-width: 767px) {
.t-c-mobile {
    text-align: center;
}
}
/* End Font */
/* Star Border + overflow */
.b-none {
    border: none;
}
.hidden {
    overflow: hidden;
}
.br-3c {
    border: 1px solid #ccc;
}
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
/* End Border */
/* Star Width + Height */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
/* End Width + Height */
/* Star Component */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
/* End Component */